:root{
	--main-color: #283249;
	--second-color: #EAEAEA;
	--third-color: #8a84e2;
	--fourth-color: #dba8a0;
	--fifth-color: #9B287B;
}
a{
	text-decoration: none;
	color: unset;
}

h1{
	font-size: min(8vw, 3rem);
}
h2{
	font-size: min(7vw, 2.6rem)
}
h3{
	font-size: min(6vw, 2.2rem);
}
h4{
	font-size: min(5vw, 1.8rem);
}
h5{
	font-size: min(4vw, 1.2rem);
}
h6{
	font-size: min(3vw, 1.1rem);
}


.App{
	background-color: var(--main-color);
	color: #eaeaeae0;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Navbar{
	color: var(--main-color);
	background-color: var(--second-color);
}


.Navbar > div > ul{
	width: 60%;
}

.navbar-link-top{
	font-size: min(5vw, 1.5rem);

}
.navbar-link{
	font-size: min(5vw, 1.2rem);
	margin-right: 15px;
	color: var(--fifth-color);
	text-shadow: 0px 0px 1px;
	transition: text-shadow 0.5s linear, color 0.5s linear;
	animation: 6s linear 0s infinite colourSwitch;
}
.navbar-link-top:first-letter, .navbar-link:first-letter{
	text-transform: capitalize;
}
.navbar-link:hover{
	text-shadow: 0px 0px 2px;
}
.Content{
	background-image: url('./bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50%;
}
.content-header{
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-text{
	background-color: rgba(31, 39, 57, 0.8);
}
.header-text > p{
	font-size: min(6vw, 3rem);
	line-height: 1.2;
}
.header-text > div > p{
	font-size: min(4vw, 1.4rem);
	line-height: 1.6;
}

.ProductCard{
	max-width: 240px;
  min-width: 31%;
  min-height: 240px;
  aspect-ratio: 1/1;
	margin: 5px;
	background-color: #efefef;
	box-shadow: none;
	transition: box-shadow 0.3s linear, transform .3s;

}
.ProductCard:hover{
	box-shadow: 0px 0px 10px 5px var(--third-color);
	transition: box-shadow 0.3s ease-out, transform .3s;
	transform: scale(1.1);
}

.carousel-block-wrap{
	min-width: 500px;
}
.carousel-block{
	max-width: 500px;
}

.price-text{
	color: var(--third-color);
}

.Footer{
	background-color: #E6E6E6;
}

.zoom-overlay{
	overflow: hidden;
}
.zoom{
	transition: transform .3s;
}
.zoom:hover {
  transform: scale(1.1);
}

.fi{
	box-shadow: 0px 0px 1px 1px #000;
	background-size: cover;
}

li > button{
	border: none;
	padding: 0px;
}

.Footer{
	color: var(--second-color);
	background-color: var(--main-color);
	margin-top: auto;
}
.Footer-top{
	color: var(--main-color);
	background-color: var(--fourth-color);
}

.smalest-text{
	font-size: min(2.3vw, 0.8rem);
}

@media (max-width: 576px){
	.ProductCard{
		max-width: 47%;
		min-width: 47%;
		aspect-ratio: 1/1.5;
	}
}

@media (max-width: 374px){
	.ProductCard{
		max-width: 85%;
		min-width: 85%;
	}
	.card-title{
		font-size: 18px;
	}
	.card-subtitle{
		font-size: 14px;
	}
}

@media (max-width: 768px){
	.Navbar > div > ul{
		width: 100%;
	}
	.carousel-block-wrap{
		max-width: 100%;
		min-width: 100%;
	}
	.carousel-block{
		max-width: 100%;
		max-height: 60vh !important;
	}
}

@keyframes colourSwitch{
	from{
		color: var(--fifth-color);
	}
	50%{
		color: var(--third-color);
	}
	to{
		color: var(--fifth-color);
	}
}